Repository Blooym/Dalamud.GoodFriend, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | l10n/i18n, changes | ci, changes | api, changes | client, changes | plugin

.github/labeler.yml:

changes | l10n/i18n:
  - "src/Plugin/Localization/Resources/**/*"

changes | ci:
  - ".github/workflows/**/*"

changes | api:
  - "src/Api/**/*"

changes | client:
  - "src/Client/**/*"

changes | plugin:
  - "src/Plugin/**/*"

chore: change api url and update deps
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Plugin/Configuration/PluginConfiguration.cs
  src/Plugin/GoodFriend.Plugin.csproj
  src/Plugin/packages.lock.json
Labels: changes | api, changes | plugin

chore: bump client ver
  src/Client/GoodFriend.Client.csproj
Labels: changes | client

fix: didnt save after fixing merge conflicts
  src/Api/Cargo.toml
Labels: changes | api

fix: didnt save after fixing merge conflicts
  src/Api/Cargo.lock
Labels: changes | api

refactor: micro-opt
  src/Api/src/extractors/authenticated_user.rs
  src/Api/src/extractors/content_id.rs
  src/Api/src/main.rs
  src/Api/src/routes/announcements/mod.rs
  src/Api/src/routes/events/mod.rs
Labels: changes | api

refactor: remove duplicate CID checking
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/extractors/content_id.rs
Labels: changes | api

ci: fix cleanup for docker images
  .github/workflows/release.yml
Labels: changes | ci

refactor: dont clone client keys
  src/Api/src/extractors/client_key.rs
Labels: changes | api

refactor: remove connections endpoint, add graceful shutdown
  src/Api/src/main.rs
  src/Api/src/routes/core/connections.rs
Labels: changes | api

refactor: remove connections endpoint, add graceful shutdown
  src/Api/src/routes/core/mod.rs
Labels: changes | api

refactor: remove announcement cause an id, reorder messages
  src/Client/Http/Enums/Announcement.cs
  src/Client/Http/Requests/PostAnnouncementRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Responses/AnnouncementStreamUpdate.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/SseClient.cs
  src/Plugin/ModuleSystem/Modules/AnnouncementModule.cs
Labels: changes | client, changes | plugin

chore: remove preview language features
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
Labels: changes | client

refactor: remove unused announce fields, restructure inbound messages
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/routes/announcements/mod.rs
  src/Api/src/routes/announcements/send.rs
  src/Api/src/routes/events/stream.rs
  src/Api/src/routes/events/update_loginstate.rs
Labels: changes | api

chore: bump version
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | api, changes | client, changes | plugin

chore: remove preview language features
  src/Client/Http/SseClient.cs
Labels: changes | client

refactor: remove announcements, auth, send cid in msgpack body
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/Dockerfile
  src/Api/src/extractors/authenticated_user.rs
  src/Api/src/extractors/client_key.rs
  src/Api/src/extractors/content_id.rs
  src/Api/src/extractors/mod.rs
  src/Api/src/main.rs
  src/Api/src/routes/announcements/mod.rs
  src/Api/src/routes/announcements/send.rs
  src/Api/src/routes/announcements/stream.rs
  src/Api/src/routes/auth/mod.rs
  src/Api/src/routes/auth/validate.rs
  src/Api/src/routes/events/stream.rs
  src/Api/src/routes/events/update_loginstate.rs
  src/Api/src/routes/mod.rs
  src/Client/GoodFriend.Client.csproj
  src/Client/Http/Enums/Announcement.cs
  src/Client/Http/Requests/GetAnnouncementStreamRequest.cs
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/GlobalRequestData.cs
  src/Client/Http/Requests/PostAnnouncementRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Requests/PostValidateAuthRequest.cs
  src/Client/Http/Responses/AnnouncementStreamUpdate.cs
  src/Plugin/Base/Constants.cs
  src/Plugin/Base/Services.cs
  src/Plugin/Configuration/PluginConfiguration.cs
  src/Plugin/GoodFriend.Plugin.csproj
  src/Plugin/GoodFriendPlugin.cs
  src/Plugin/ModuleSystem/Modules/AnnouncementModule.cs
  src/Plugin/ModuleSystem/Modules/AnnouncementStreamModule.cs
  src/Plugin/UserInterface/Windows/MainWindow/Screens/SettingsScreen.cs
Labels: changes | api, changes | client, changes | plugin

feat: initial work on messagepack inbound
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/main.rs
  src/Api/src/routes/events/stream.rs
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/SseClient.cs
  src/Plugin/Base/Services.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
Labels: changes | api, changes | client, changes | plugin

feat: functional impl
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/main.rs
  src/Api/src/routes/core/mod.rs
  src/Api/src/routes/event.rs
  src/Api/src/routes/events/mod.rs
  src/Api/src/routes/health.rs
  src/Api/src/routes/mod.rs
  src/Api/src/routes/stream.rs
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Requests/RequestConstants.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/StreamClient.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
Labels: changes | api, changes | client, changes | plugin

chore: fix git perms tracking
  src/Api/Cargo.toml
  src/Api/src/main.rs
  src/Api/src/routes/event.rs
  src/Api/src/routes/health.rs
  src/Api/src/routes/mod.rs
  src/Api/src/routes/stream.rs
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Requests/RequestConstants.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/StreamClient.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
Labels: changes | api, changes | client, changes | plugin

feat: messagepack Ingress (#207)
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/main.rs
  src/Api/src/routes/core/mod.rs
  src/Api/src/routes/event.rs
  src/Api/src/routes/events/mod.rs
  src/Api/src/routes/events/stream.rs
  src/Api/src/routes/health.rs
  src/Api/src/routes/mod.rs
  src/Api/src/routes/stream.rs
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Requests/RequestConstants.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/StreamClient.cs
  src/Plugin/Base/Services.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
Labels: changes | api, changes | client, changes | plugin

feat: use raw bytes for ContentId data, add better shutdown handling, add heartbeat to stream
  README.md
  src/Api/src/main.rs
  src/Api/src/routes/event.rs
  src/Api/src/routes/stream.rs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Client/Http/Requests/RequestConstants.cs
  src/Client/Http/Responses/PlayerEventStreamUpdate.cs
  src/Client/Http/StreamClient.cs
  src/Plugin/ModuleSystem/Modules/CurrentFriendsOnlineModule.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/UserInterface/Components/ButtonRowComponent.cs
  src/Plugin/UserInterface/Windows/MainWindow/Screens/DebugScreen.cs
  src/Plugin/Utility/CryptoUtil.cs
  src/Plugin/Utility/FriendUtil.cs
Labels: changes | api, changes | client, changes | plugin

fix: serialise byte arrays properly, compare bytes with SequenceEquals
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Api/src/routes/event.rs
  src/Api/src/routes/stream.rs
Labels: changes | api

fix: serialise byte arrays properly, compare bytes with SequenceEquals
  src/Client/Http/Requests/GetPlayerEventStreamRequest.cs
  src/Client/Http/Requests/PostPlayerLoginStateRequest.cs
  src/Plugin/Base/Services.cs
  src/Plugin/ModuleSystem/Modules/CurrentFriendsOnlineModule.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
  src/Plugin/Utility/FriendUtil.cs
Labels: changes | client, changes | plugin

chore: bump version
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | api, changes | client, changes | plugin

fix: encode salt as base64
  src/Plugin/Utility/CryptoUtil.cs
Labels: changes | plugin

perf: serialise an event once instead of for each client
  src/Api/src/routes/event.rs
  src/Api/src/routes/stream.rs
Labels: changes | api

refactor: reduce channel capacity to 6
  src/Api/src/main.rs
Labels: changes | api

perf: use Bytes instead of Vec for serialised messages
  src/Api/src/routes/stream.rs
Labels: changes | api

docs: add note about Bytes usage for self
  src/Api/src/routes/stream.rs
Labels: changes | api

chore: rename things
  src/Client/Http/Requests/PlayerEventStreamRequest.cs
  src/Client/Http/Requests/PlayerLoginEventRequest.cs
  src/Client/Http/Requests/RequestConstants.cs
  src/Client/Http/StreamClient.cs
  src/Plugin/Base/Services.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/ModuleSystem/Modules/PlayerEventStreamModule.cs
Labels: changes | client, changes | plugin

chore: fix vsc settings
  .vscode/settings.json
Labels: none

feat: add homeworld name to login message, format with a colour
  src/Plugin/ModuleSystem/Modules/CurrentFriendsOnlineModule.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
Labels: changes | plugin

chore: bump version
  src/Api/Cargo.lock
  src/Api/Cargo.toml
Labels: changes | api

chore: bump version
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | client, changes | plugin

fix: unset message colour after
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
Labels: changes | plugin

chore: bump version
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | api, changes | client, changes | plugin

refactor: reduce salt to 8 bytes
  src/Api/src/routes/event.rs
  src/Api/src/routes/stream.rs
  src/Client/Http/Requests/PlayerLoginEventRequest.cs
  src/Plugin/Utility/CryptoUtil.cs
Labels: changes | api, changes | client, changes | plugin

chore: bump version
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | api, changes | client, changes | plugin

feat: api14
  src/Api/Cargo.lock
  src/Api/Cargo.toml
  src/Client/GoodFriend.Client.csproj
  src/Client/packages.lock.json
  src/Plugin/Base/DalamudInjections.cs
  src/Plugin/GoodFriend.Plugin.csproj
  src/Plugin/ModuleSystem/Modules/CurrentFriendsOnlineModule.cs
  src/Plugin/ModuleSystem/Modules/LoginStateModule.cs
  src/Plugin/packages.lock.json
Labels: changes | api, changes | client, changes | plugin

chore: bump version
  src/Client/GoodFriend.Client.csproj
  src/Plugin/GoodFriend.Plugin.csproj
Labels: changes | client, changes | plugin
